.Weather{
    width: 300px;
    position: absolute;
    top: 15px;
    left: 15px;
    font-family: 'Montserrat', sans-serif;
    /* This Class Css */
    /* Should be Removed when uploading to production */

}

.weatherBar {
    color: white;
    background-color: #3d4f55;
    padding: 20px 15px;
    border-radius: 10px;
    text-align: left;
}
.weather{
    font-weight: 500;
    color: gold;
}
.date {
    font-size: 13px;
}
.day {
    font-weight: 500;
}
.tempBtns{
    display: flex;
   
}
.tempBtn{
    background: #3d4f55;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 6px;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tempBtn:hover{
    cursor: pointer;
}
.tempBtns span{
    margin: 5px;
    color: white;

    font-size: 12px;
    font-weight: bold;
}
.selected{
    background: white;

}
.selected span {
    color: #3D4F55;
}